body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: #fff;
  height: 100vh;
  overflow: hidden;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.349);
  padding: 2rem 0 5rem 0;
  border-radius: 10px;
}

.login h1 {
  text-align: center;
  padding: 0 0 20px 0;
}

.login form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #949494;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #bd0000;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #949494;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  color: rgb(70, 70, 70);
  cursor: pointer;
  text-decoration: none;
}
.pass:hover {
  text-decoration: underline;
}

.login {
  text-align: center;
}

form .btn {
  width: max-content;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background: #bd0000;
  border: 1px solid #bd0000;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.349);
  margin-right: 10px;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  margin-right: 0;
}

.btn:hover {
  background: #fff;
  color: #bd0000;
  transition: 0.5s;
  border: #bd0000 1px solid;
}
